.card {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 15px 0 15px;
  border-radius: 6px;
  border: 5px solid #fff;
  background-color: #0C0A0F;
}

.btn-next {
  bottom: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}